{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
<link href="{%static 'css/emotion_labeling_task.css'%}" rel="stylesheet">
<link href="{%static 'css/videojs.markers.css' %}" rel='stylesheet'>
<script src="{% static 'js/videojs-markers.js' %}"></script>
<script>
//prompt time should be dictionary, key with time and value with whether the task is done on the time or not
var prompt_time = '{{prompt_time}}'
prompt_time = JSON.parse(prompt_time.replace(/&quot;/g,'"'))
// condition is about whether it is data colleciton or experiment
  // for current stage, in the data collection condition, workers can pick 'no figure'.
  // 'data_collection', 'experiment'
var condition = "{{condition}}"
var primitive_video_url = "{{video_url}}"
</script>
{% endblock %}


{% block content %}
<div id="vue_app" class="row">
  <div>
  <!-- Video Viewer -->
  <div class="col s6">
    <div class="row">
      <div class="col s3">
        <img src="{% static 'img/figures/' %}{{condition}}/{{video_url}}/{{video_url}}{{character}}.png" style="width:100%">
      </div>
      <div class="col s9" id="instruction">
        <p>
          Watch the video, and while watching the video, you will be prompted to answer the questions.
        </p>
      </div>
    </div>
    <div>
      <!-- source is decided in the javascript file-->
      <video id="main_video" class="video-js vjs-default-skin vjs-big-play-centered"
      controls preload="auto" width="480" height="270"
      data-setup='{ "inactivityTimeout": 0 }'
       style="margin:auto;">
      </video>
    </div>
  </div>

  <!-- labeling interface -->
  <div v-bind:class="{disabled_task : state!='tagging'}" class="col s6">
    <!-- Descriptions for valence and arousal labeling -->
    <div>
      <h5 style="margin-bottom: 10px;">Decide current valence and arousal value of the character.</h5>
    </div>
    <!-- images to support valence labeling -->
    <div id="valence_image" class="row" style="margin-bottom: 0px">
      <div id="valance_images" class="col s10 push-s1">
        <table>
          <tbody>
            <tr>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_1.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_2.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_3.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_4.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_5.png'%}"></image>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- radio buttons for valence labeling -->
    <div id="valence_radios">
      <div id="valence_nagative" class="table_radios col s1">
        Negative
      </div>
      <div id="valance_images" class="col s10" style="border-bottom: 1px solid #cccccc">
        <table>
          <tbody>
            <tr>
              <td class="table_radios radios_padding"></td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_1" value="1"/>
                <label for="valence_1" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_2" value="2"/>
                <label for="valence_2" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_3" value="3"/>
                <label for="valence_3" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_4" value="4"/>
                <label for="valence_4" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_5" value="5"/>
                <label for="valence_5" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_6" value="6"/>
                <label for="valence_6" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_7" value="7"/>
                <label for="valence_7" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_8" value="8"/>
                <label for="valence_8" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_9" value="9"/>
                <label for="valence_9" class="radio_without_label"></label>
              </td>
              <td class="table_radios radios_padding"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="valence_positive" class="table_radios col s1">
        Positive
      </div>
    </div>
    <!-- images to support arousal labeling -->
    <div id="arousal_image" class="row" style="margin-bottom: 0px">
      <div id="arousal_images" class="col s10 push-s1">
        <table>
          <tbody>
            <tr>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_1.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_2.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_3.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_4.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_5.png'%}"></image>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- radio buttons for arousal labeling -->
    <div id="arousal_radios">
      <div id="arousal_low" class="table_radios col s1">
        Low
      </div>
      <div id="valance_images" class="col s10" style="border-bottom: 1px solid #cccccc">
        <table>
          <tbody>
            <tr>
              <td class="table_radios radios_padding"></td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_1" value="1"/>
                <label for="arousal_1" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_2" value="2"/>
                <label for="arousal_2" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_3" value="3"/>
                <label for="arousal_3" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_4" value="4"/>
                <label for="arousal_4" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_5" value="5"/>
                <label for="arousal_5" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_6" value="6"/>
                <label for="arousal_6" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_7" value="7"/>
                <label for="arousal_7" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_8" value="8"/>
                <label for="arousal_8" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_9" value="9"/>
                <label for="arousal_9" class="radio_without_label"></label>
              </td>
              <td class="table_radios radios_padding"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="arousal_high" class="table_radios col s1">
        High
      </div>
    </div>
    <!-- emotion category description -->
    <div style="margin-top:60px">
      <h5>Decide in which basic emotion the character is belonging now.</h5>
    </div>
    <!-- emotion category radios -->
    <div id="emotion_cateogries" class="row">
      <input name="ekman" type="radio" id="fear"/>
      <label for="fear" class="ekman_label">Fear</label>
      <input name="ekman" type="radio" id="anger"/>
      <label for="anger" class="ekman_label">Anger</label>
      <input name="ekman" type="radio" id="sadness"/>
      <label for="sadness" class="ekman_label">Sadness</label>
      <input name="ekman" type="radio" id="disgust"/>
      <label for="disgust" class="ekman_label">Disgust</label>
      <input name="ekman" type="radio" id="joy"/>
      <label for="joy" class="ekman_label">Joy</label>
      <input name="ekman" type="radio" id="surprise"/>
      <label for="surprise" class="ekman_label">Surprise</label>
      <input name="ekman" type="radio" id="neutral"/>
      <label for="neutral" class="ekman_label" style="border-right: none">Neutral</label>
    </div>
    <!-- Description for reasoning -->
    <div>
      <h5>Write your reasoning why you decided so.</h5>
    </div>
    <!-- input box for reasoning -->
    <div id="reasoning_box" class="row">
      <input type="text" id="reasoning">
      <label for="reasoning">Your reasoning</label>
    </div>
    <div v-if="condition=='data_collection'">
      <h5>If the figure's voice or image of body does not exist in the moment, click below to proceed.</h5>
      <div class="btn red darken-1" id="no_figure" v-on:click="add_data('no_figure')">No Figure</div>
    </div>
    <div class="btn light-blue darken-1" id="add" style="float:right" v-on:click="add_data">Add Label and Proceed</div>
  </div>

</div>
<hr style="top: 10px; position: relative; border-bottom: none; padding-top: 12px">
<form method="POST">
{% csrf_token %}
  <input type="text" name="to_return" id="to_return" style="display:none"/>
  <input class="btn" type="submit" name="submit" id="submit" style="display:block; margin: auto" v-on:click="return_data" :disabled="!submittable"/>
</form>

</div>

<script src="{% static 'js/emotion_labeling_task.js' %}"></script>
{% endblock %}
