{% extends 'emotion_labeling_distribution_example.html' %}

{% load staticfiles %}

{% block max_tuto_assign %}
<script>
  max_tuto = 2;
</script>
{% endblock %}

{% block add_script%}
<script src="{% static 'js/example_module.js' %}"></script>
  <!-- TODO get example information -->
<script>
  var target_second=JSON.parse('{{target_second}}');
  var target_video_source=JSON.parse($.parseHTML('{{target_video_source}}')[0].textContent);
  var target_video_distribution = JSON.parse($.parseHTML('{{target_video_distribution}}')[0].textContent);

</script>
{% endblock %}
