{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
<link href="{%static 'css/emotion_labeling_task.css'%}" rel="stylesheet">
<link href="{%static 'css/videojs.markers.css' %}" rel='stylesheet'>
<script src="{% static 'js/videojs-markers.js' %}"></script>
<script>
//prompt time should be dictionary, key with time and value with whether the task is done on the time or not
var prompt_time = '{{prompt_time}}'
prompt_time = JSON.parse(prompt_time.replace(/&quot;/g,'"'))
//label to check is only used in sanity check step
var label_to_check = '{{label_to_check}}'
label_to_check = JSON.parse(label_to_check.replace(/&quot;/g,'"'))
// condition is about whether it is data colleciton or experiment
  // for current stage, in the data collection condition, workers can pick 'no figure'.
  // 'data_collection', 'experiment'
var condition = "{{condition}}"
var primitive_video_url = "{{video_url}}"
var step = "{{step}}"
</script>
{% endblock %}


{% block content %}
<div id="vue_app" class="row" style="visibility: hidden">
  <div class="row" style="margin-bottom: 0px">
  <!-- Video Viewer -->
  <div class="col s6">
    <div class="row">
      <div class="col s3">
        <img v-if="condition!='data_collection'" src="{% static 'img/figures/experiment/' %}{{video_url}}/{{video_url}}{{character}}.png" style="width:100%; margin-top:20px">
      </div>
      <div class="col s9" id="instruction">
        <div v-if="step=='label_and_reason'">
          <p>
            You will label the emotion of the character in the left, at the moment when the border of the video player blinks in red.
          <p>
          <p>
            Emotion label includes <a class='modal-trigger' href="#tutorial" onclick="tuto_vue.jump_to_page(6)">Valence</a>, <a class='modal-trigger' href="#tutorial" onclick="tuto_vue.jump_to_page(7)">Arousal</a>, and <a class='modal-trigger' href="#tutorial" onclick="tuto_vue.jump_to_page(8)">Basic Emotion Class</a>.
          </p>
          <p v-if="condition=='experiment_reasoning'">
            You will also give the reason why you labeled the emotion of the character like you did.
          </p>
        </div>
        <div v-if="step=='sanity_check'">
          <p>
            You will see how other workers did on labeling the emotion of the character in the left, at the moment when the border of the video player blinks in red.
          <p>
          <p>
            Emotion label that workers labeled includes <a href="#">Valence</a>, <a href="#">Arousal</a>, and <a href="#">Basic Emotion Class</a>.
          </p>
          <p>
            You will also read the reason why other crowd workers did labeling like what they did.
          </p>
          <p>
            Your task is to decide whether that reasoning logically makes sense. Remember, you are not to decide whether the label is 'right' or 'wrong', but to check the plausibility of the label.
          </p>

        </div>
        <a class='btn blue-grey darken-2 modal-trigger' href="#tutorial">Tutorial</a>
      </div>
    </div>
    <div>
      <!-- source is decided in the javascript file-->
      <video id="main_video" class="video-js vjs-default-skin vjs-big-play-centered"
      controls preload="auto" width="480" height="270"
      data-setup='{ "inactivityTimeout": 0 }'
       style="margin:auto;">
      </video>
    </div>
  </div>

  <!-- labeling interface -->
  <div v-bind:class="{disabled_task : state!='tagging'}" class="col s6">
    <!-- Descriptions for sanity check -->
    <div v-if="step=='sanity_check'">
      <h5 style="margin-bottom: 0px">See how other crowd worker did labeling on the character's emotion, and read the reasoning.</h5>
    </div>
    <!-- Descriptions for valence and arousal labeling -->
    <div v-if="step=='label_and_reason'">
      <h5 style="margin-bottom: 0px;">Decide current valence and arousal value of the character.</h5>
    </div>
    <!-- images to support valence labeling -->
    <div style="text-align: center; text-decoration: underline">Valence</div>
    <div id="valence_image" class="row" style="margin-bottom: 0px">
      <div id="valance_images" class="col s10 push-s1">
        <table>
          <tbody>
            <tr>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_1.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_2.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_3.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_4.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/valence_5.png'%}"></image>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- radio buttons for valence labeling -->
    <div id="valence_radios" class="row" style="margin-bottom: 0px; border-bottom: 1px solid #cccccc">
      <div id="valence_nagative" class="table_radios col s1">
        Negative
      </div>
      <div id="valance_images" class="col s10">
        <table>
          <tbody>
            <tr>
              <td class="table_radios radios_padding"></td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_1" value="1" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_1" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_2" value="2" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_2" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_3" value="3" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_3" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_4" value="4" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_4" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_5" value="5" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_5" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_6" value="6" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_6" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_7" value="7" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_7" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_8" value="8" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_8" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="valence" type="radio" id="valence_9" value="9" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="valence_9" class="radio_without_label"></label>
              </td>
              <td class="table_radios radios_padding"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="valence_positive" class="table_radios col s1">
        Positive
      </div>
    </div>
    <!-- images to support arousal labeling -->
    <div style="text-align: center; text-decoration: underline">Arousal</div>
    <div id="arousal_image" class="row" style="margin-bottom: 0px">
      <div id="arousal_images" class="col s10 push-s1">
        <table>
          <tbody>
            <tr>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_1.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_2.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_3.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_4.png'%}"></image>
              </td>
              <td class="table_image_containers">
                <image class="table_images" src="{%static 'img/valence_arousal/arousal_5.png'%}"></image>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- radio buttons for arousal labeling -->
    <div id="arousal_radios" class="row" style="margin-bottom: 0px; border-bottom: 1px solid #cccccc">
      <div id="arousal_low" class="table_radios col s1">
        Calm
      </div>
      <div id="valance_images" class="col s10">
        <table>
          <tbody>
            <tr>
              <td class="table_radios radios_padding"></td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_1" value="1" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_1" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_2" value="2" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_2" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_3" value="3" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_3" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_4" value="4" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_4" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_5" value="5" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_5" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_6" value="6" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_6" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_7" value="7" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_7" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_8" value="8" :disabled="step=='sanity_check'"/>
                <label v-bind:class="{cursor_none: step=='sanity_check'}" for="arousal_8" class="radio_without_label"></label>
              </td>
              <td class="table_radios">
                <input name="arousal" type="radio" id="arousal_9" value="9" :disabled="step=='sanity_check'"/>
                <label for="arousal_9" class="radio_without_label"></label>
              </td>
              <td class="table_radios radios_padding"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="arousal_high" class="table_radios col s1">
        Excited
      </div>
    </div>
    <!-- emotion category description -->
    <div v-if="step=='label_and_reason'">
      <h5>Decide which basic emotion the character is in now.</h5>
    </div>
    <!-- emotion category radios -->
    <div v-if="step=='label_and_reason'" id="emotion_cateogries" class="row" style="margin-bottom: 0px">
      <input name="ekman" type="radio" id="fear"/>
      <label for="fear" class="ekman_label">Fear</label>
      <input name="ekman" type="radio" id="anger"/>
      <label for="anger" class="ekman_label">Anger</label>
      <input name="ekman" type="radio" id="sadness"/>
      <label for="sadness" class="ekman_label">Sadness</label>
      <input name="ekman" type="radio" id="disgust"/>
      <label for="disgust" class="ekman_label">Disgust</label>
      <input name="ekman" type="radio" id="joy"/>
      <label for="joy" class="ekman_label">Joy</label>
      <input name="ekman" type="radio" id="surprise"/>
      <label for="surprise" class="ekman_label">Surprise</label>
      <input name="ekman" type="radio" id="neutral"/>
      <label for="neutral" class="ekman_label" style="border-right: none">Neutral</label>
    </div>
    <!-- checking other's emotion label -->
    <div v-if="step=='sanity_check'" class="row" style="margin-bottom: 0px;">
      <div style="text-align:center; text-decoration: underline;">Basic Emotion Class</div>
      <table>
        <tbody>
          <tr>
            <td id="fear_check" class="emotion_word_check">Fear</td>
            <td id="anger_check" class="emotion_word_check">Anger</td>
            <td id="sadness_check" class="emotion_word_check">Sadness</td>
            <td id="disgust_check" class="emotion_word_check">Disgust</td>
            <td id="joy_check" class="emotion_word_check">Joy</td>
            <td id="surprise_check" class="emotion_word_check">Surprise</td>
            <td id="neutral_check" class="emotion_word_check">Neutral</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Description for reasoning -->
    <div v-if="step=='label_and_reason'" v-bind:class="{hidden_item: condition!='experiment_reasoning'}">
      <h5>Write the reason why you labeled like the above.</h5>
    </div>
    <!-- checking other's reasoning -->
    <div v-if="step=='sanity_check'" class="row" style="margin-bottom: 0px;">
      <div style="text-align:center; text-decoration: underline;">Reasoning for the emotion label</div>
      <p id="current_reasoning"></p>
    </div>
    <!-- inputting checked result -->
    <div v-if="step=='sanity_check'" class="row" style="margin-bottom: 0px;">
      <h5 style="margin-bottom:0">Are the label and the reasoning plausible considering the context of the video?</h5>
      <input name="check" type="radio" id="check_yes" val='true'/>
      <label for="check_yes" class="ekman_label">Yes</label>
      <input name="check" type="radio" id="check_no" val='false'/>
      <label for="check_no" class="ekman_label" style="border: none">No</label>
    </div>

    <!-- input box for reasoning -->
    <div v-if="step=='label_and_reason'" id="reasoning_box" v-bind:class="{hidden_item: condition!='experiment_reasoning'}" class="row" style="margin-bottom:0px">
      <textarea class='materialize-textarea' type="text" id="reasoning" style="padding:0"></textarea>
      <label for="reasoning">Your reasoning</label>
    </div>
    <div v-if="no_figure_option()">
      <h5>If the figure's voice or image of body does not exist in the moment, click below to proceed.</h5>
      <div class="btn red darken-1" id="no_figure" v-on:click="add_data('no_figure')">No Figure</div>
    </div>
    <div v-if="step=='label_and_reason'" class="btn light-blue darken-1" id="add" style="float:right" v-on:click="add_data">Add Label and Proceed</div>
    <div v-if="step=='sanity_check'" class="btn light-blue darken-1" id="add" style="float:right" v-on:click="add_data">Proceed</div>
  </div>

</div>
<hr>
<form method="POST">
{% csrf_token %}
  <input type="text" name="to_return" id="to_return" style="display:none"/>
  <input class="btn" type="submit" name="submit" id="submit" style="display:block; margin: auto" v-on:click="return_data" :disabled="!submittable"/>
</form>

</div>

<div id="tutorial" class='modal' style="top:2.5%; width:95%; height:100%; max-height:95%">
  <div class='modal-content' style="padding:5px; height:90%; width: 100%; padding-bottom:0px;">
    <h3 v-if="!disabled_next()">Tutorial - hit 'next' to proceed</h3>
    <h3 v-if="!disabled_task()">Tutorial - hit 'to the task' to proceed</h3>
    <h3 v-if="!loaded">Tutorial - image is being loaded...</h3>
    <img id="tuto_img" v-bind:src="'{% static 'img/tutorial/' %}{{step}}_{{condition}}_'+[[cur_tuto]]+'.png'" style="max-height:90%; max-width:100%; display:block; margin: auto;" v-bind:class="{hidden_item:!loaded}"/>
  </div>
  <div class='modal-footer'>
    <span :disabled="disabled_prev()" class='btn red darken-1' v-on:click="previous_step">Prev</span>
    <span :disabled="disabled_next()" class='btn blue darken-1' v-on:click="next_step">Next</span>
    <span :disabled="disabled_task()" class='btn modal-action modal-close blue-grey darken-2' v-on:click="tuto_close('#vue_app')">To the task</span>
  </div>
</div>
<script>
var max_tuto = 12
</script>

<script src="{% static 'js/emotion_labeling_task.js' %}"></script>
<script src="{% static 'js/tutorial.js' %}"></script>
{% endblock %}
