{% extends 'base.html' %}

{% block content %}

<form class="col s12">
  <div class="row">

    <p class="col s12"> Input keywords to search and accumulate video urls in the database </p>
    <div class="input-field col s8">
      <input id="video_keyword" type="text" class="validate"></input>
      <label for="video_keyword">Video Keyword</label>
    </div>
    <div class="input-field col s4">
      <input id="submit" type="submit" class="btn"></input>
    </div>
  </div>
</form>

{% endblock %}
