{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
<link href="{%static 'css/video_quality_inspection.css'%}" rel="stylesheet">
<script>
var example_video_route = "{%static 'example_video'%}"
var criteria = "{{criteria}}"
var task_series = "{{task_series}}"
task_series = JSON.parse(task_series.replace(/&quot;/g,'"'));
var batch_id = "{{batch_id}}"
var batch_number = {{batch_number}}
</script>
{% endblock %}

{% block content %}

<div id='vueapp'>

<div class="row">
  <div class="col s12">
    <h4>Briefly skim through the video and answer the following question.</h4>
    <div class="col s5">
      <div id='player'></div>
      <!--<iframe id='player' width="480" height="270" v-bind:src="'https://www.youtube.com/embed/'+task_series[cur_task]">
      </iframe>-->
    </div>
    <div class="col s7">
      <div v-if="example === 'video_quality'" id="video_quality">
        <p>Is the <font size="5">visual quality</font> good enough to observe character's emotions and actions?</p>
        <p>Is the <font size="5">video quality</font> good enough to capture facial expressions or subtle actions?
          <a class="chip modal-trigger" href="#example">Example</a>
        </p>
        <p>
          <input name="video_quality" type="radio" id="video_quality_yes" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="video_quality_yes">Yes</label>
          <input name="video_quality" type="radio" id="video_quality_no" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="video_quality_no">No</label>
        </p>
      </div>
      <div v-else-if="example === 'sound_quality'" id="sound_quality">
        <p>Is <font size="5">audio</font> clear (not much background noise)?</p>
        <p>Can you clearly understand the conversation from the <font size="5">audio</font>?
          <a class="chip modal-trigger" href="#example">Example</a>
        </p>
        <p>
          <input name="sound_quality" type="radio" id="sound_quality_yes" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="sound_quality_yes">Yes</label>
          <input name="sound_quality" type="radio" id="sound_quality_no" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="sound_quality_no">No</label>
        </p>
      </div>
      <div v-else-if="example === 'language'" id="language">

        <p>Does the video mainly involve <font size="5">English</font> as language?
          <a class="chip modal-trigger" href="#example">Example</a>
        </p>
        <p>
          <input name="language" type="radio" id="language_yes" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="language_yes">Yes</label>
          <input name="language" type="radio" id="language_no" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="language_no">No</label>
        </p>
      </div>
      <div v-else-if="example === 'conversation'" id="conversation">
        <p>Is the video mainly composed of <font size="5">conversational scene</font> between customers and employees?
          <a class="chip modal-trigger" href="#example">Example</a>
        </p>
        <p>
          <input name="conversation" type="radio" id="conversation_yes" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="conversation_yes">Yes</label>
          <input name="conversation" type="radio" id="conversation_no" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="conversation_no">No</label>
        </p>
      </div>
      <div v-else-if="example === 'scene'" id="scene">
        <p>Does the video contain <font size="5">single scenario</font>, not multiple scenarios?
          <a class="chip modal-trigger" href="#example">Example</a>
        </p>
        <p>
          <input name="scene" type="radio" id="scene_yes" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="scene_yes">Yes</label>
          <input name="scene" type="radio" id="scene_no" :disabled="cur_video_seen_second< required_seeing_second"/>
          <label for="scene_no">No</label>
        </p>
      </div>
      <p><i>You can select answer once you see certain amount of the video</i></p>
      <div id="buttons">
        <form method="POST">
          {% csrf_token %}
          <a v-on:click="prev_task" class="pink darken-1 btn col s6 disabled" id="prev_task">Previous</a>
          <a v-if="cur_task<batch_number-1" v-on:click="next_task" class="btn col s6" v-bind:class="{disabled: item_not_clicked}" id="next_task">Next</a>
          <input v-else v-on:click="return_result" name="submit" type="submit" class="btn col s6" v-bind:class="{disabled: item_not_clicked}" id="submit"/>
          <input name='to_return' type='text' style='display:none' id="to_return"/>
        </form>
      </div>
      </div>
    </div>
  </div>

  <!--below is a modal for examples...!-->
  <div id="example" class="modal">
    <div v-if="tuto_exp===false" class="modal-content">
      <h5>Video quality inspection task</h5>
      <p>You will watch {{batch_number}} videos, and decide whether [[instruction]]<p>
      <p>Before doing the task, you will be watching one good example video and one bad example video.</p>
      <p>Hit next to watch a good example. </p>
    </div>
    <div v-else-if="tuto_first===false" class="modal-content">
      <div class="row">
        <div class="col s12">
          <h6>Example of good video</h6>
          <p>[[good_example_text]]</p>
          <video id="good_ex" class="video-js" v-bind:src="example_video_route+good_url" type="video/mp4" autoplay style="height:180px; width:320px">
          </video>
          <p><i>You can proceed to the bad example once you watch the example video.</i></p>
        </div>
      </div>
    </div>
    <div v-else-if="tuto_second===false" class="modal-content">
      <div class="row">
        <div class="col s12">
          <h6>Example of bad video</h6>
          <p>[[bad_example_text]]</p>
          <video id="bad_ex" v-bind:src="example_video_route+bad_url" type="video/mp4" autoplay style="height:180px; width:320px">
          </video>
          <p><i>You can proceed to the task once you watch the example video.</i></p>
        </div>
      </div>
    </div>
    <div v-else class="modal-content">
      <h5>Example for [[example]]</h5>
      <div class="row">
        <div class="col s6">
          <h6>Example of good video</h6>
          <video v-bind:src="example_video_route+good_url" type="video/mp4" controls style="height:180px; width:320px">
          </video>
        </div>
        <div class="col s6">
          <h6>Example of bad video</h6>
          <video v-bind:src="example_video_route+bad_url" type="video/mp4" controls style="height:180px; width:320px">
          </video>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <a id="modal_next" v-if="tuto_second===false" v-on:click="tutorial_next" href="#" class="modal-action btn">Next</a>
      <a v-else href="#!" class="modal-action modal-close btn">Close</a>
    </div>
  </div>
</div>

<script src="{% static 'js/video_quality_inspection.js' %}"></script>
{% endblock %}
